<div class="text-center">
<h1>ユーザー名 : <%= @user.name %></h1>
<h1>メールアドレス : <%= @user.email %></h1>
<h1>
    コンロ : <%= @kitchen_skill_map.conro %>
   オーブン : <%= @kitchen_skill_map.oven %>
   フライヤー : <%= @kitchen_skill_map.flier %>
  サラダ : <%= @kitchen_skill_map.salad %>
  ドリンク : <%= @kitchen_skill_map.drink %>
</h1>
<%= link_to "スキルマップ編集", edit_kitchen_path(@user, @kitchen_skill_map, id: @user.id) %>
</div>